body {
    background-color: #042d37;
    color:#839496 ;
}

.mustard-bg {
    background-color: #916e00;
    color:#fff;
}

button, .row button {
    display: inline;
    text-align: left;
    border:none;
    width:auto;
    color:#839496;
    background-color: transparent;
}


.image-size-w {
    width:400px;
}
.image-size-z {
    width:640px;
}
