body.phonebook {
    background-color: #042d37;
    color:#839496 ;
}

.mustard-bg {
    background-color: #916e00;
    color:#fff;
}

button {
    display: inline-block;
    text-align: left;
    border:none;
    color:#839496;
    background-color: transparent;
}

.gallery-image {
   float:left;
}
.image-size-w {
    width:400px;
}
.image-size-z {
    width:640px;
}