body {
    background-color: #042d37;
    color:#839496 ;
}

.mustard-bg {
    background-color: #916e00;
    color:#fff;
}

button, .row button {
    display: inline;
    text-align: left;
    border:none;
    width:auto;
    color:#839496;
    background-color: transparent;
}


.image-size-w {
    width:400px;
}
.image-size-z {
    width:640px;
}

.pagination {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-number{
    padding: .5rem .75rem;
    border-left: 1px solid #839496;
}

.page-number:first-child{
    border-left:none;
}

.page-number {
    cursor:pointer
}

.ellipsis {
    cursor:default
}

.active {background-color: hwb(0 18% 82%);}
.disable {color:darkslategray; cursor:default}